@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap');
* {
	box-sizing: border-box;
	
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  font-family: 'Hind Siliguri', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  background: rgb(2,0,36);
  background: linear-gradient(207deg, rgba(2,0,36,1) 0%, rgba(6,6,70,1) 89%);
}

  // background-color: #282c34;
  // background-color: rgb(15, 7, 60);