
.title-container {   
    height: 250px;
    display: flex; 
    justify-content: center;
    padding: 6rem 2rem 2rem 2rem;
    position: relative;
   
}

.title-root {
    width: 100%;
    max-width: 500px;
    color: aliceblue;   
    font-size: 2rem;
    line-height: 2rem;   
    font-family: 'Hind Siliguri', sans-serif; 
    box-shadow: 0 2px 8px rgb(8, 34, 180);   
    height: 333px;
    position: relative;
    z-index: 12;

    @media screen and (min-width: 496px) {
        font-size: 2rem;
        line-height: 2rem; 
        width: 100%;
        max-width: 500px;
        height: 333px;
    }

    & img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        mix-blend-mode: normal;
        object-fit: cover;
        border-radius: 3px;

    }

    &__a {
        position: absolute;
        left: 15%;
        opacity: 0.9;
        bottom: 44%;

        @media screen and (min-width: 496px) {
            left: 20%;
        }
    }

    &__b {
        opacity: 0.9;
        position: absolute;
        left: 14%;
        bottom: 33%;

        @media screen and (min-width: 496px) {
            left: 15%;
        }
    }

    &__c {
        position: absolute;
        opacity: 0.9;
        left: 6%;
        bottom: 22%;

        @media screen and (min-width: 496px) {
            left: 12%;
        }
    }

    &__d {
        opacity: 0.9;
        position: absolute;
        left: 22%;
        bottom: 10%;
    
        @media screen and (min-width: 496px) {
            left: 34%;
        }
    }
}

.button {
    position: absolute;
    color: aliceblue;
    cursor: pointer;
    background-color: rgb(15, 6, 96);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(80, 99, 201);
    padding: 1px 6px;
    top: 199%;
    z-index: 1;

    &:hover {
        box-shadow: 0 2px 8px rgb(230, 63, 63);
        color: rgb(230, 63, 63);

        animation: buttonAnim  100ms cubic-bezier(.4,.1,.6,.9) 3;
    @keyframes buttonAnim {
        25% {
            
            transform: translateX(2%);
        }
        75% {
            
            transform: translateX(2% * -1);
        }
    }
    }

    &:active {
        box-shadow: none;
        color: rgb(15, 6, 96);
    }

}




$num-cards: 3;
$anim-dur: 1500ms;
$anim-delay: calc($anim-dur / $num-cards);

.aqua {
    display: inline-block;
    color: aqua;
    transition: all 0.2s ease-in-out;
    font-size: 4rem;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
    

    animation: apparition  $anim-dur ease-in-out backwards;
    @for $i from 1 through $num-cards {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
    @keyframes apparition {
        from {
            opacity: 0;
            transform: translateY(-300%) skewY(20deg);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.group-A {
    display: inline-block;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
    font-size: 3.2rem;

    animation: apparitionRight  1500ms ease-in-out backwards;
    @keyframes apparitionRight {
        from {
            opacity: 0;
            transform: translateX(900%);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

.group-B {
    display: inline-block;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
    font-size: 2.2rem;

    animation: apparitionLeft  1500ms ease-in-out backwards;
    @keyframes apparitionLeft {
        from {
            opacity: 0;
            transform: translateX(-900%);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

.group-round {
    display: inline-block;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
    border-radius: 22px;

    animation: apparitionCenter  4000ms ease-in-out backwards;
    @keyframes apparitionCenter {
        from {
            opacity: 0;
            
        }
        to {
            opacity: 1;
        }
    }
}

.group-bent {
    display: inline-block;
    transform: rotate(20deg);

    animation: apparitionBent 500ms 3s cubic-bezier(0.18, 0.89, 0.32, 1.28) backwards;
    @keyframes apparitionBent {
        from {
            transform: rotate(0deg);
            
        }
        to {
            transform: rotate(20deg);
        }
    }
}

.bkgd-aqua {
    display: inline-block;
    background-color: aqua;
    height: 13px;
    

    animation: apparitionP 1500ms 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28) backwards;
    @keyframes apparitionP {
        0% {
            transform: rotate(20deg);
        }
        30% {
            transform: rotate(150deg);
        }
        50% {
            transform: rotate(-100deg);
        }
        70% {
            transform: rotate(100deg);
        }
        90% {
            transform: rotate(-40deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
}

.group-C {
    display: inline-block;
    font-size: 4rem;
    box-shadow: 0 2px 8px rgb(0, 0, 0);

    animation: apparitionV 2s 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55) backwards;
    @keyframes apparitionV {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
}


.group-last {
    display: inline-block;
    animation: apparitionLast  1500ms ease-in-out backwards;
    @keyframes apparitionLast {
        0% {
            
            transform: translateX(900%);
        }
        30% {
            
            transform: translateX(0px);
        }
        90% {
            
            transform: translateX(20px);
        }
    }
}

// .pendulum-wrapper {
//     height: 100%;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: fixed;
//     z-index: 10;
//     top: 0;
//     left: 0;
//     background-color: white;
//     animation: BG 3s forwards ease-in-out;
// }

// @keyframes BG {
//     0% {
//         opacity: 1;
//     }
//     50% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//         z-index: -1;
//     }
// }

// .pendulum {
//     position: absolute;
//     top: 18%;
//     right: 9%;
//     transform-origin: top;
//     font-size: 3px;
//     cursor: help;

//     &:active {
//         animation: pendulum 1.2s alternate ease-in-out infinite;
//     }

//     @keyframes pendulum {
//         0% {
//             transform: rotate(1deg);
//         }
//         100% {
//             transform: rotate(-1deg);  
//         }
//     }
// }

// .cord {
//     margin: 0 auto;
//     min-height: 260px;
//     width: 0.3em;
//     background: grey;
// }

// .sphere {
//     width: 16em;
//     height: 16em;
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background: #000;
//     border-radius: 50%;
//     border: 1px solid #231406;

//     &::before {
//         content:'';
//         position: absolute;
//         top: 0.3em;
//         left: 40%;
//         width: 1.5em;
//         height: 0.3em;
//         background: #ffca98;
//         filter: blur(0.3em);
//     }

//     &::after {
//         content: '';
//         position: absolute;
//         bottom: 0.3em;
//         right: 35%;
//         width: 1.5em;
//         height: 0.2em;
//         background: #ffca98;
//         filter: blur(0.3em);
//     }

//     &__bg {
//         width: 10em;
//         height: 10em;
//         position: absolute;
//         background: radial-gradient(circle, rgba(255,255,134,1) 0%, rgba(255,255,210,1) 100%);
//         border-radius: 50%;
//         border: 0.5 solid #676710;
//         z-index: 10;
//     }

//     &__glow--in {
//         width: 11em;
//         height: 11em;
//         position: absolute;
//         border-radius: 50%;
//         border-bottom: 1px solid #3c2d1e;
//         background: #f7a456;
//         filter: blur(0.6em);
//     }

//     &__glow--out {
//         width: 20em;
//         height: 20em;
//         position: absolute;
//         border-radius: 50%;
//         background: #f7a456;
//         opacity: 0.3;
//         filter: blur(5em);
//     }
// }

.neon-off {
    position: absolute;
    opacity: 0.3;
    width: 50px;
    color: aqua;
    font-family: 'Fasthand', cursive;
    width: 100%;
    text-align: justify;
}

.neon {
    position: absolute;
    opacity: 0.2;
    width: 50px;
    color: grey;
    font-family: 'Fasthand', cursive;
    width: 100%;
    text-align: justify;
      
}

.animate {

    animation: neon-anim 0.8s alternate ease-in-out 3;


@keyframes neon-anim {
    0% {
        opacity: 0.3;
        filter: drop-shadow(0px 0px 1px #e8fdfd)
        drop-shadow(0px 0px 3px #dff4f4)
        drop-shadow(0px 0px 10px #0dcfcf)
        drop-shadow(0px 0px 30px #0daaaa)
        drop-shadow(0px 0px 50px #0a8383)
    }

    100%{
        opacity: 0.6;
        filter: drop-shadow(0px 0px 1px #00ffff)
        drop-shadow(0px 0px 3px #00ffff)
        drop-shadow(0px 0px 10px #0dcfcf)
        drop-shadow(0px 0px 30px #0daaaa)
        drop-shadow(0px 0px 50px #0a8383)
    }
} 
}


.section-neon {
    overflow: hidden;
}






// function multiplyText(text, num) {
//     let multipliedText = '';
//     for (let i = 0; i < num; i++) {
//       multipliedText += text;
//     }
//     return multipliedText;
//   }
  
//   // Example usage:
//   const multiplied = multiplyText('Hello', 3); // Returns 'HelloHelloHello'
  
//   // Render the multiplied text:
//   return <div>{multiplied}</div>;