.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 90px;
    width: 100%;
    z-index: 13;
    position: absolute;
}


.nav-header {
    display: flex;
    margin: 5%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    font-size: 22px;
    
    &_link-home,
    &_link-cv,
	&_link-about {
		text-decoration: none;
		padding: 0 0.8rem;
        color: aqua;

        

        &:hover {
            color: black;
        }
    }
}



