.footerwrapper {
    
    background: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 100%;
    color: #282c34;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}


.social-menu {   
    display: flex;
    position: relative;
    margin: 5px 0;
}

.icon-wrapper {
    
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    padding: 8px 0  0 1.5px ;
    margin: 0 8px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.9);
    transform: translateY(0) scale(1);
    transition: 0.3s;

    &:hover {
        transform: translateY(-6px) scale(1.2);
        background-color: aqua;       
    }
}

.social-icon {
    color: #424449;
    font-size: 35px;
    
}

.footer-paragraph {
    line-height: 4px;
    text-align: center;
}

